.active{
    color: red;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 0;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
}